<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>arXiv as a podcast</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <script>
    function pause_currently_playing(evt) {
      if(window.$_currentlyPlaying && window.$_currentlyPlaying != evt.target) {
        window.$_currentlyPlaying.pause()
      }
      window.$_currentlyPlaying = evt.target
    }
    window.addEventListener("play", pause_currently_playing, true);
  </script>

  <main>
  {% for article in articles %}
  <article data-aid="{{ article.id }}">
    <figure>
      <audio controls src="{{ article.audio_url }}"></audio>
    </figure>
    <a href="{{ article.link }}">
      <h2>{{ article.title }}</h2>
    </a>
    <div class="authors">
      {% for author in article.authors %}
      <span>{{ author }};</span>
      {% endfor %}
    </div>
    <div class="summary">
      {{ article.summary }}
    </div>
  </article>
  {% endfor %}
  </main>

  <script>
    function append_article(article) {
      const el = document.createElement('article')
      el.dataset.aid = article.id

      const audio = document.createElement('audio')
      audio.controls = true
      audio.src = article.audio_url
      const fig = document.createElement('figure')
      fig.appendChild(audio)
      el.appendChild(fig)

      const link = document.createElement('a')
      link.href = article.link
      const title = document.createElement('h2')
      title.innerHTML = article.title
      link.appendChild(title)
      el.appendChild(link)

      const authors = document.createElement('div')
      authors.className = 'authors'
      for (a of article.authors) {
        const author = document.createElement('span')
        author.innerHTML = a + ";"
        authors.appendChild(author)
      }
      el.appendChild(authors)

      const summary = document.createElement('div')
      summary.className = 'summary'
      summary.innerHTML = article.summary
      el.appendChild(summary)

      const container = document.querySelector('main')
      container.appendChild(el)
    }
    function load_more() {
      const last_article = document.querySelector('main > article:last-of-type')
      const aid = last_article.dataset.aid
      const url = document.location.origin + "/api/after"
      const fetchData = {
        method: 'POST',
        body: JSON.stringify({'id':aid}),
        headers: new Headers({
          'Content-Type': 'application/json; charset=UTF-8'
        }),
      }
      fetch(url, fetchData)
        .then(response => response.json())
        .then(articles => {
          for (article of articles) {
            append_article(article)
          }
        })
        .catch(err => {
          console.error(err)
          const error_message = document.createElement('div')
          error_message.innerHTML = err
          document.body.appendChild(error_message)
          window.scrollTo(0, document.body.scrollHeight)
        })
    }
  </script>
  <button onclick="load_more()">Load more</button>

</body>
</html>
