<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>arXiv as a podcast</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  {% for article in articles %}
  <article>
    <figure>
      <audio controls src="{{AUDIO_URL_ROOT}}{{article.safe_id()}}.wav"></audio>
    </figure>
    <h2>{{ article.title }}</h2>
    <div class="authors">
      {% for author in article.authors %}
      <span>{{ author }};</span>
      {% endfor %}
    </div>
    <div class="summary">
      {{ article.summary }}
    </div>
  </article>
  {% endfor %}

</body>
</html>
